@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');
@import url('reset.css');
html{
    font-family: 'Raleway', sans-serif;
}

h1{
    font-weight: 700;
    font-size: 2em;
}

h2{
    font-weight: 700;
    font-size: 1.8em;
}

h3{
    font-weight: 700;
    font-size: 1.6em;
}

div{
    border: 3px solid green;
}

.container{
    background-color: lightgrey;
}
#nome-empresa{
    color: brown;
}