@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');
@import url('reset.css');
html{
    margin-left: 10px;
    font-family: 'Raleway', sans-serif;
}

h1{
    font-weight: 700;
    font-size: 2em;
}

h2{
    font-weight: 700;
    font-size: 1.8em;
}

h3{
    font-weight: 700;
    font-size: 1.6em;
}

div{
    border: 3px solid green;
}

.container{
    background-color: lightgrey;
}
#nome-empresa{
    color: brown;
}
.tabelinha th,td{
    border: 1px solid rgb(44, 15, 124);

}
.tabelinha { border: 2px solid;}

.tabelinha th,td{
    padding: 10px;
    
}
th{font-weight: 700;}
input{margin-bottom: 10px;}

#btn-enviar{
    margin-bottom: 20px;
}

.tb_signos th,td {
    padding: 60px;
}